# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Large files / system files
.DS_Store
Thumbs.db
